.app {
  text-align: center;
  margin: 3rem;
}

.lotties {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-pulse {
  width: 200px;
  height: 200px;
  padding: 5rem;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: #ffffff;
	border-radius: 28px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 17px;
	padding: 9px 31px;
	text-decoration: none;
  margin: .5rem;
}

button:hover {
  background-color: #f6f6f6;
}